@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root {
	--bg1: #ffffff;
	--bg2: #f2f2f2;
	--fg: #000;

	--hover: #e5e5e5;
	--active: #cecece;

	--font-size: 14px;

	--font: "JetBrains Mono";
}

* {
	font-family: var(--font);
	margin: 0;
	padding: 0;
	transition: all ease 0.1s;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--bg1);
	color: var(--fg);
}

.dark {
	--bg1: #0f0f0f;
	--bg2: #272727;
	--fg: #fff;

	--hover: #3f3f3f;
	--active: #535353;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 2;
	color: var(--fg);
	backdrop-filter: blur(4px);
}

.overlay > div {
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	/* Center content */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.overlay button {
	padding: 10px;
	border-radius: 10px;
	border: none;
	outline: none;
	color: var(--fg);
	font-size: var(--font-size);
}

.overlay .row {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

input {
	outline: none;
	border: none;
	padding: 10px;
	width: 100%;
	background-color: var(--bg2);
	color: var(--fg);
	font-size: var(--font-size);
	border-radius: 10px;
}

svg {
	width: 20px;
	height: 20px;
	display: block;
	margin: auto;
	color: var(--fg);
}

textarea {
	outline: none;
	border: none;
	padding: 20px;

	width: calc(100vw - 40px);
	height: calc(100vh - 40px);
	position: fixed;

	background-color: var(--bg1);
	color: var(--fg);

	font-size: var(--font-size);
}

.thinner {
	/* align center */
	width: 40vw;
	left: 50%;
	transform: translateX(-50%);
}

.options {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	gap: 7px;
	z-index: 1;
	transform: translateX(188px);
	transition: all ease 0.2s;
}

.expanded {
	transform: translateX(0px);
}

button {
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 5px;
	background-color: var(--bg2);
	text-align: center;
}

button:hover {
	cursor: pointer;
	background-color: var(--hover);
}

button:active {
	background-color: var(--active);
}

#width svg {
	transform: rotate(90deg);
}

.hidden {
	display: none;
}

.flipped {
	transform: rotate(180deg);
}

@media screen and (max-width: 700px) {
	.thinner {
		width: 75vw;
	}
}
